@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size: 350%;
  color:#35208A;
}

h2 {
  font-family: 'Antic Slab', serif;
  font-size: 275%;
  color: #35208A;
}

.lead {
  color:#6CBDF0;
  font-size: 200%;
}

.filler {
  height: 25px;
  width: 25px;
}

.center {
  vertical-align: center;
}

.logo {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

#map_canvas {
  width: 400px;
  height: 500px;
}

#timeinfo {
  font-size: 200%;
  color: #35208A;
  line-height: 100%;
}

.ontime {
  border: solid #80ff80 2px;
  font-size: 130%;
  padding: 10px;
  color: #80ff80;
  height: 20px;
  width: 150px;
}

.campuslocation {
  font-size: 130%;
  color: #6CBDF0
}

.ontimecampus {
  border: solid #80ff80 2px;
  font-size: 130%;
  padding: 10px;
  color: #80ff80;
  height: 20px;
  width: 150px;
}

